h1{
    text-align: center;
    padding: 20px;
    background-color: rgb(232, 32, 18);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
}
div{
    background-color: rgb(212, 120, 86);
}
h2{
    background-color: yellow;
    text-align: center;
         
}